* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    color: white;
}

*:after,
*:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

[data-ssr] *
{
    display: none;
}

html,
body,
button{
    font-family: Geometria, Tahoma, Arial, serif;
}

textarea{
    resize: none;
}

/* ADDITIONAL GENERAL STYLES */

h1,
h2{
    font-family: Geometria, Tahoma, Arial, serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #8F9396;
}

a:hover{
    color: white;
}

.hidden,
.show-mobile{
    display: none;
}

img.wide,
img.adaptive{
    display: block;
    padding: 0 0 3vh;
}
img.wide{
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
}
img.adaptive{
    width: 100%;
}

blockquote{
    margin: 0;
    border-left: 3px solid #4B4F52;
    font-size: 85%;
    padding: 2vh 0 2vh 3vh;
}
    blockquote p:last-child{
        padding: 0;
    }

ol,
ul{
    padding-left: 1.5vw;
}

ol li,
ul li{
    padding-bottom: .7vh;
}

ul{
    list-style: disc outside;
}

p,
ul,
ol,
h2,
h1,
iframe,
pre{
    padding-bottom: 2.2vh;
}

blockquote + *{
    padding-top: 2.2vh;
}

small{
    color: #888;
    font-size: 85%;
}

pre{
    font-size: 85%;
    display: block;
}

iframe{
    min-height: 30vh;
}

.page-title{
    position: relative;
    font-size: 2.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1.1vh 0 4vh;
    margin: 0 10vw;
    font-weight: 500;
    text-align: left;
    z-index: 1;
}

.sticker-img{
    padding: 0 0 2.2vh 0;
    text-align: center;
    position: relative;
    font-size: 75%;
    font-weight: 400;
    margin: 0 auto;
}
    .container .sticker-img *{
        display: inline-block;
    }
        .container .sticker-img img{
            box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
            border-radius: 10px;
        }

/* ATTENTION MESSAGES */

.is-deeper,
.is-higher{
    font-weight: 300;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.is-deeper:after,
.is-higher:after{
    content: '';
    display: block;
    position: absolute;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    left: -1vw;
    top: -0.6vw;
    right: -1vw;
    bottom: -0.6vw;
    z-index: -1;
}
.is-deeper:after{
    background-color: rgba(149, 187, 211, .2);
}
.is-higher:after{
    background-color: rgba(161, 218, 193, .2);
}

/* ENUMERATIONS */

.is-enum{
    padding-bottom: .7vh;
    padding-left: 1.5vw;
    position: relative;
}
.is-enum:before{
    content: attr(data-symbol)'.';
    position: absolute;
    right: calc(100% - 1.2vw);
}
.is-enum + *:not(.is-enum){
    padding-top: 1.5vh;
}

.mobile-visible{
    display: none;
}

@media screen and (max-width: 767px)
{
    ol,
    ul{
        padding-left: 4.5vw;
    }

    .page-title{
        text-align: center;
        font-size: 8vw;
        line-height: 130%;
        padding-top: 0;
    }

    .show-mobile{
        display: block;
    }

    .container .sticker-img img{
        width: 100% !important;
    }

    /* ATTENTION MESSAGES */

    .is-deeper:after,
    .is-higher:after{
        left: -3vw;
        right: -3vw;
        top: -1vw;
        bottom: -1vw;
    }

    /* ENUMERATIONS */

    .is-enum{
        padding-left: 6.5vw;
    }
    .is-enum:before{
        right: calc(100% - 5vw);
    }

    .mobile-visible{
        display: block;
    }
}

/* LOADING */

.loading-before:before,
.loading-after:after{
    content: '';
    display: block;
    border: 6px solid rgba(100, 100, 100, 0.4);
    border-top: 6px solid rgba(50,54,57,1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    -webkit-animation: rotate 0.8s infinite linear;
    -o-animation: rotate 0.8s infinite linear;
    animation: rotate 0.8s infinite linear;
    background: transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 99999;
}

@-webkit-keyframes rotate{
    from{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-o-keyframes rotate{
    from{
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotate{
    from{
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* CUSTOM SCROLL */

.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.ps__rail-x,
.ps__rail-y{
    display: none;
    position: absolute;
    background-color: transparent;
}

.ps__rail-x {
    bottom: 0;
}

.ps__rail-y {
    right: 0;
}

.scroll-init .ps--active-x.scroll-active > .ps__rail-x,
.scroll-init .ps--active-y.scroll-active > .ps__rail-y {
    display: block;
}

.ps__thumb-x,
.ps__thumb-y
{
    cursor: pointer;
    position: absolute;
    background: #4B4F52;
}

.ps__thumb-x {
    height: .2vw;
    bottom: 0;
}

.ps__thumb-y {
    width: .2vw;
    right: 0;
}

/* MS supports */
@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}

.scrollbar-container {
    position: relative;
    height: 100%;
}

/* GRID GALLERY */

.justified-gallery{
    width: 100%;
    visibility: hidden;
    opacity: 0;
}
    .justified-gallery + *{
        padding-top: 2.2vh;
    }
    .justified-gallery.complite{
        visibility: visible;
        opacity: 1;
    }
    .justified-gallery .image{
        box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        display: block;
    }
        .justified-gallery .image img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

/* YET ANOUTHER LIGTHBOX */

.yarl__fullsize {
    height: 100%;
    width: 100%
}

.yarl__relative {
    position: relative
}

.yarl__portal {
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity var(--yarl__fade_animation_duration, .25s) var(--yarl__fade_animation_timing_function, ease);
    z-index: var(--yarl__portal_zindex, 9999)
}

.yarl__portal_open {
    opacity: 1
}

.yarl__container {
    background-color: rgba(0,0,0,.55);
    bottom: 0;
    left: 0;
    outline: none;
    overflow: hidden;
    overscroll-behavior: var(--yarl__controller_overscroll-behavior, contain);
    position: absolute;
    right: 0;
    top: 0;
    touch-action: var(--yarl__controller_touch_action, none);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.yarl__carousel {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex: 0 0 auto;
    height: 100%;
    justify-content: center;
    opacity: var(--yarl__pull_down_opacity, 1);
    -webkit-transform: translate(var(--yarl__swipe_offset, 0), var(--yarl__pull_down_offset, 0));
    transform: translate(var(--yarl__swipe_offset, 0), var(--yarl__pull_down_offset, 0));
    width: calc(100% + (var(--yarl__carousel_slides_count) - 1) * (100% + var(--yarl__carousel_spacing_px, 0) * 1px + var(--yarl__carousel_spacing_percent, 0) * 1%))
}

.yarl__carousel_with_slides {
    -webkit-column-gap: calc(var(--yarl__carousel_spacing_px, 0) * 1px + 100 / (var(--yarl__carousel_slides_count) * 100 + (var(--yarl__carousel_slides_count) - 1) * var(--yarl__carousel_spacing_percent, 0)) * var(--yarl__carousel_spacing_percent, 0) * 1%);
    -moz-column-gap: calc(var(--yarl__carousel_spacing_px, 0) * 1px + 100 / (var(--yarl__carousel_slides_count) * 100 + (var(--yarl__carousel_slides_count) - 1) * var(--yarl__carousel_spacing_percent, 0)) * var(--yarl__carousel_spacing_percent, 0) * 1%);
    column-gap: calc(var(--yarl__carousel_spacing_px, 0) * 1px + 100 / (var(--yarl__carousel_slides_count) * 100 + (var(--yarl__carousel_slides_count) - 1) * var(--yarl__carousel_spacing_percent, 0)) * var(--yarl__carousel_spacing_percent, 0) * 1%)
}

.yarl__flex_center {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center
}

.yarl__slide {
    flex: 1;
    overflow: hidden;
    padding: calc(var(--yarl__carousel_padding_px, 0) * 1px + 100 / (var(--yarl__carousel_slides_count) * 100 + (var(--yarl__carousel_slides_count) - 1) * var(--yarl__carousel_spacing_percent, 0)) * var(--yarl__carousel_padding_percent, 0) * 1%);
    position: relative
}

[dir=rtl] .yarl__slide {
    --yarl__direction: -1
}

.yarl__slide_image {
    -webkit-touch-callout: none;
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    touch-action: var(--yarl__controller_touch_action, none);
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none
}

@media screen and (min-width: 800px) {
    .yarl__slide_image {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        -webkit-transform-style: preserve-3d
    }
}

.yarl__slide_image_cover {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.yarl__slide_image_loading {
    opacity: 0
}

.yarl__slide_placeholder {
    left: 50%;
    line-height: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.yarl__slide_loading {
    -webkit-animation: yarl__delayed_fadein 1s linear;
    animation: yarl__delayed_fadein 1s linear;
    color: var(--yarl__slide_icon_loading_color, var(--yarl__color_button, hsla(0, 0%, 100%, .8)))
}

.yarl__slide_loading line {
    -webkit-animation: yarl__stroke_opacity 1s linear infinite;
    animation: yarl__stroke_opacity 1s linear infinite
}

.yarl__slide_loading line:first-of-type {
    -webkit-animation-delay: -1.875s;
    animation-delay: -1.875s
}

.yarl__slide_loading line:nth-of-type(2) {
    -webkit-animation-delay: -1.75s;
    animation-delay: -1.75s
}

.yarl__slide_loading line:nth-of-type(3) {
    -webkit-animation-delay: -1.625s;
    animation-delay: -1.625s
}

.yarl__slide_loading line:nth-of-type(4) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s
}

.yarl__slide_loading line:nth-of-type(5) {
    -webkit-animation-delay: -1.375s;
    animation-delay: -1.375s
}

.yarl__slide_loading line:nth-of-type(6) {
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s
}

.yarl__slide_loading line:nth-of-type(7) {
    -webkit-animation-delay: -1.125s;
    animation-delay: -1.125s
}

.yarl__slide_loading line:nth-of-type(8) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.yarl__slide_error {
    color: var(--yarl__slide_icon_error_color, red);
    height: var(--yarl__slide_icon_error_size, 48px);
    width: var(--yarl__slide_icon_error_size, 48px)
}

@media (prefers-reduced-motion) {
    .yarl__portal, .yarl__slide {
        transition: unset
    }

    .yarl__slide_loading, .yarl__slide_loading line {
        -webkit-animation: unset;
        animation: unset
    }
}

.yarl__toolbar {
    bottom: auto;
    display: flex;
    justify-content: flex-end;
    left: auto;
    padding: var(--yarl__toolbar_padding, 8px);
    position: absolute;
    right: 0;
    top: 0
}

[dir=rtl] .yarl__toolbar {
    bottom: auto;
    left: 0;
    right: auto;
    top: 0
}

.yarl__icon {
    height: var(--yarl__icon_size, 32px);
    width: var(--yarl__icon_size, 32px)
}

.yarl__button {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--yarl__button_background_color, transparent);
    border: var(--yarl__button_border, 0);
    color: var(--yarl__color_button, hsla(0, 0%, 100%, .8));
    cursor: pointer;
    -webkit-filter: var(--yarl__button_filter, drop-shadow(2px 2px 2px rgba(0, 0, 0, .8)));
    filter: var(--yarl__button_filter, drop-shadow(2px 2px 2px rgba(0, 0, 0, .8)));
    line-height: 0;
    margin: var(--yarl__button_margin, 0);
    outline: none;
    padding: var(--yarl__button_padding, 8px)
}

.yarl__button:focus {
    color: var(--yarl__color_button_active, #fff)
}

.yarl__button:focus:not(:focus-visible) {
    color: var(--yarl__color_button, hsla(0, 0%, 100%, .8))
}

.yarl__button:focus-visible {
    color: var(--yarl__color_button_active, #fff)
}

@media (hover: hover) {
    .yarl__button:focus-visible:hover, .yarl__button:focus:hover, .yarl__button:hover {
        color: var(--yarl__color_button_active, #fff)
    }
}

.yarl__button:disabled {
    color: var(--yarl__color_button_disabled, hsla(0, 0%, 100%, .4));
    cursor: default
}

.yarl__navigation_next, .yarl__navigation_prev {
    padding: var(--yarl__navigation_button_padding, 24px 16px);
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.yarl__navigation_prev {
    left: 0
}

[dir=rtl] .yarl__navigation_prev {
    left: unset;
    right: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

.yarl__navigation_next {
    right: 0
}

[dir=rtl] .yarl__navigation_next {
    left: 0;
    right: unset;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg)
}

.yarl__no_scroll {
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none
}

@-webkit-keyframes yarl__delayed_fadein {
    0% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes yarl__delayed_fadein {
    0% {
        opacity: 0
    }
    80% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes yarl__stroke_opacity {
    0% {
        stroke-opacity: 1
    }
    to {
        stroke-opacity: .125
    }
}

@keyframes yarl__stroke_opacity {
    0% {
        stroke-opacity: 1
    }
    to {
        stroke-opacity: .125
    }
}

/* SLIDER */

.slick-track{
    height: calc(calc(var(--vh, 1vh) * 100) - 3vw);
}
.slick-list, .slick-slider, .slick-track{
    white-space: nowrap;
    position: relative;
    display: block
}

.slick-slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    visibility: hidden;
    opacity: 0;
}

.images-ready .slick-slider{
    transition: opacity 250ms ease-out;
    visibility: visible;
    opacity: 1;
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: 0
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    top: 0;
    left: 0
}

.slick-slide {
    display: none;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: inline-block
}

.slick-arrow.slick-hidden {
    display: none
}