html,
body,
root{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body{
    background-color: #323639;
}

root{
    overflow: hidden;
}
root[data-ssr]{
    display: none;
}
    root:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 75vw;
        height: 75vw;
        display: none;
        background: #9dd4c2;
        background: -moz-linear-gradient(45deg, #9dd4c2 1%, #7da79c 100%);
        background: -webkit-linear-gradient(45deg, #9dd4c2 1%,#7da79c 100%);
        background: linear-gradient(45deg, #9dd4c2 1%,#7da79c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd4c2', endColorstr='#7da79c',GradientType=1 );
        z-index: 3;
    }
    .is-scroll root:after{
        display: none;
    }

aside{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20vw;
    z-index: 4;
}
    header{
        position: relative;
        overflow: hidden;
        height: 100%;
    }
        header .ps__rail-y,
        header .ps__thumb-y{
            left: 0;
            right: inherit;
        }

    aside:after{
        content: '';
        display: block;
        position: absolute;
        width: calc(calc(var(--vh, 1vh) * 100) - 3vw);
        top: 50%;
        left: 50%;
        height: calc(17vw);
        transform: translate(-50%, -50%) rotate(-90deg);
        z-index: -1;
        background-color: #3B3F42;
        -webkit-mask-size: 110%;
        -webkit-mask-position: center 85%;
        -webkit-mask-image: url('../images/logo.svg');
        -webkit-mask-repeat: no-repeat;
        mask-size: 110%;
        mask-position: center 85%;
        mask-image: url('../images/logo.svg');
        mask-repeat: no-repeat;
    }

        .header-fields{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;

            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            -webkit-justify-content: space-between;
            justify-content: space-between;

            padding: 0 1.5vw;

            min-height: calc(var(--vh, 1vh) * 100);
        }

        header .logo{
            width: 60%;
            display: block;
            position: relative;
            margin-bottom: 3.5vh;
        }
            header .logo:before{
                content: '';
                display: block;
                height: 10vw;
                background-color: white;
                -webkit-mask: url('../images/logo.svg') no-repeat bottom;
                mask: url('../images/logo.svg') no-repeat bottom;
                position: relative;
                z-index: 1;
            }
            header .logo:after{
                content: '';
                position: absolute;
                bottom: .5vw;
                left: 50%;
                margin-left: -2vw;
                border-radius: 50%;
                width:6vw;
                height:6vw;
                opacity: .85;
                background: #9dd4c2;
                background: -moz-linear-gradient(45deg, #9dd4c2 1%, #7da79c 100%);
                background: -webkit-linear-gradient(45deg, #9dd4c2 1%,#7da79c 100%);
                background: linear-gradient(45deg, #9dd4c2 1%,#7da79c 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd4c2', endColorstr='#7da79c',GradientType=1 );
            }

        header .menu{
            list-style: none;
            width: 85%;
            margin-bottom: 7vh;
        }
            header .menu ul{
                list-style: none;
                font-size: inherit;
                padding: 0;
                margin: 0;
            }
                header .menu ul a{
                    display: inline-block;
                    vertical-align: middle;
                    color: white;
                }
                header .menu ul a.active{
                    color: #8F9396;
                }
                header .menu > ul{

                }
                    header .menu > ul > li{
                        margin-bottom: 4vh;
                        padding: 0;
                    }
                    header .menu > ul > li:last-child{
                        margin: 0;
                    }
                        header .menu > ul > li > a{
                            position: relative;
                            line-height: 3vw;
                            font-size: 2.2vw;
                        }
                        header .menu > ul > li > a:after{
                            content: '';
                            width: 65%;
                            height: 3px;
                            left: 0;
                            bottom: -3px;
                            display: block;
                            position: absolute;
                            transition: width 150ms ease-out;
                            background: #9dd4c2;
                            background: -moz-linear-gradient(45deg, #9dd4c2 1%, #7da79c 100%);
                            background: -webkit-linear-gradient(45deg, #9dd4c2 1%, #7da79c 100%);
                            background: linear-gradient(45deg, #9dd4c2 1%,#7da79c 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd4c2', endColorstr='#7da79c',GradientType=1 );
                        }
                        header .menu > ul > li > a:hover:after{
                            width: 100%;
                        }
                        header .menu > ul > li > ul{
                            margin-top: 2vh;
                        }
                            header .menu > ul > li > ul ul{
                                margin-top: 1vh;
                                margin-left: 25px;
                            }
                            header .menu > ul > li > ul li{
                                margin-bottom: 1vh;
                                padding: 0;
                            }
                            header .menu > ul > li > ul li.mobile-visible{
                                display: none;
                            }
                                header .menu > ul > li > ul li > a{
                                    font-size: .85vw;
                                    font-weight: 300;
                                }
                                header .menu > ul > li > ul li > a:hover{
                                    color: #8F9396;
                                }

        header .social{
            width: 85%;
            font-size: 1vw;
            padding-bottom: 30px;
        }
            header .social ul{
                list-style: none;
                font-size: inherit;
                padding: 0;
                margin: 0;

                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;

                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;

                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
            }
                header .social li{
                    margin: 0;
                    padding: 0;
                }
                    header .social .pegi,
                    header .social a{
                        display: block;
                        position: relative;
                        width: 2.8vw;
                        height: 2.8vw;
                    }
                    header .social .pegi{
                        border: 3px solid #9dd4c2;
                    }
                    header .social .pegi:after,
                    header .social a:after{
                        display: block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    header .social .pegi:after{
                        content: '18+';
                    }
                    header .social a:after{
                        font-family: "Awesome Brands", serif;
                    }
                    header .social .vk a:after{
                        content: "\f189";
                    }
                    header .social .vk a:hover{
                        color: #2a5885;
                    }
                    header .social .inst a:after{
                        content: "\f16d";
                    }
                    header .social .inst a:hover{
                        color: #db2e72;
                    }
                    header .social .yt a:after{
                        content: "\f167";
                    }
                    header .social .yt a:hover{
                        color: #ff0000;
                    }

    /* MOBILE HAMBURGER */

    .header-mobile-hamburger{
        position: absolute;
        display: none;
        padding: 10vw;
        right: -30vw;
        top: 0;
    }
        .header-mobile-hamburger span,
        .header-mobile-hamburger span:before,
        .header-mobile-hamburger span:after{
            height: 1.5vw;
            display: block;
            background-color: white;
            width: 10vw;
            margin: 3vw 0;
            position: relative;
        }
        .header-mobile-hamburger span:before,
        .header-mobile-hamburger span:after{
            content: '';
            position: absolute;
        }
        .header-mobile-hamburger span:before{
            top: 0;
        }
        .header-mobile-hamburger span:after{
            bottom: 0;
        }

        .header-mobile-open .header-mobile-hamburger span,
        .header-mobile-open .header-mobile-hamburger span:before,
        .header-mobile-open .header-mobile-hamburger span:after{
            background: white;
        }
        .header-mobile-open .header-mobile-hamburger span{
            background: transparent !important;
        }
        .header-mobile-open .header-mobile-hamburger span:before{
            transform: rotate(45deg);
        }
        .header-mobile-open .header-mobile-hamburger span:after{
            transform: rotate(-45deg);
        }

    .is-scroll .header-mobile-hamburger{
        right: -14vw;
    }
    .is-scroll.header-mobile-open .header-mobile-hamburger{
        right: -30vw;
    }

root > .wrapper{
    position: relative;
    height: 100%;
    margin-left: 20vw;
}
    root > .wrapper:before{
        content: '';
        display: none;
        position: fixed;
        width: calc(calc(var(--vh, 1vh) * 100) - 30px);
        top: 50%;
        left: 50%;
        height: calc(100vw - 30px);
        transform: translate(-50%, -50%) rotate(-90deg);
        background-color: #3B3F42;
        -webkit-mask-size: 110%;
        -webkit-mask-position: center 82%;
        -webkit-mask-image: url('../images/logo.svg');
        -webkit-mask-repeat: no-repeat;
        mask-size: 110%;
        mask-position: center 87%;
        mask-image: url('../images/logo.svg');
        mask-repeat: no-repeat;
    }
    .header-mobile-open root > .wrapper:after{
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.4);
        z-index: 3;
    }

/* MOBILE HOME ICON */

.mobile-home-icon{
    display: none;
    position: absolute;
    top: 8.75vw;
    left: 50%;
    width: 10vw;
    height: 10vw;
    transform: translateX(-5vw);
    /*z-index: 5;*/
    z-index: 3;
}
.mobile-home-icon:before,
.mobile-like-icon:before,
.mobile-like-icon:after{
    z-index: 1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Geometria, Tahoma, Arial, serif;
    transform: translate(-50%, -50%);
    font-size: 5vw;
}
.mobile-home-icon:before{
    font-family: "Awesome", serif;
    content: '\f015';
    font-weight: 900;
}
.index .mobile-home-icon:before{
    font-family: Geometria, Tahoma, Arial, serif;
    content: 'strng.pro';
    font-weight: 500;
}

/* BREADCRUMBS */

.breadcrumbs {

}
    .breadcrumbs ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: inherit;
        line-height: inherit;
    }
        .breadcrumbs ul li{
            font-size: .9vw;
            padding: 0;
            display: inline;
            vertical-align: middle;
        }
            .breadcrumbs ul li:before{
                content: '/';
                display: inline-block;
                padding: 0 7px;
            }
            .breadcrumbs ul li:first-child:before{
                display: none;
            }
            .breadcrumbs ul li span{

            }

/* BOXES */

.box{
    position: relative;
    display: block;
}
    .box .picture{
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 3px;
    }
        .box .picture:before{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }
        .box .picture:after{
            content: '';
            position: absolute;
            display: block;
            opacity: 1;
            visibility: visible;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: background-color 250ms ease-out;
            background-color: rgba(0,0,0,.5);
            z-index: 1;
        }
        .box .picture img{
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        .box:hover .picture:after{
            background-color: rgba(0,0,0,.3);
        }
    .box > .wrapper{
        position: absolute;
        overflow: hidden;
        font-size: 1vw;
        top: 2.25vw;
        bottom: 2.25vw;
        left: 1.5vw;
        right: 3vw;

        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
        .box .title,
        .box .date,
        .box .views,
        .box .comments{
            position: relative;
            z-index: 1;
        }
        .box .title{
            font-weight: 500;
            flex: 1 1 auto;
            overflow: hidden;
            margin: 0 0 1.5vh;
        }
        .box .date{
            color: #D5D9DC;
            font-size: .7vw;
            font-style: italic;
            margin-bottom: .3vh;
        }
        .box .social{
            font-size: .7vw;
        }
            .box .social ul{
                list-style: none;
                font-size: inherit;
                margin: 0 -5px;
                padding: 0;

                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;

                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;

                -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                justify-content: flex-start;
            }
                .box .social li{
                    position: relative;
                    padding: .5vw .7vw;
                    margin: 0 5px;

                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;

                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -webkit-flex-direction: row;
                    -ms-flex-direction: row;
                    flex-direction: row;

                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;

                    -webkit-justify-content: space-around;
                    -ms-flex-pack: distribute;
                    justify-content: space-around;

                    color: inherit;
                }
                .box .social li:before{
                    content: '';
                    font-family: "Awesome", serif;
                    font-weight: 900;
                    font-size: .7vw;
                    padding-right: 20%;
                    display: block;
                    width: 1.1vw;
                }
                .box .social .likes{
                    z-index: 1;
                    background-color: rgba(0,0,0,.4);
                    padding: .5vw .7vw;
                }
                .box .social .likes:before{
                    content: '\f004';
                }
                .box .social .views:before{
                    content: '\f06e';
                }
                .box .social .comments:before{
                    content: '\f086';
                }
        .box.large .wrapper{
            justify-content: inherit;
        }
            .box.wide .title,
            .box.tall .title{
                font-weight: 500;
                text-transform: uppercase;
                padding-bottom: 1vh;
            }
            .box.large .title{
                font-size: 200%;
                font-weight: 500;
                flex: inherit;
            }
            .box.wide .social li,
            .box.large .social li{
                padding: .7vw 1vw;
            }
    .box.copyrights{
        display: none;
    }
        .box.copyrights .wrapper{
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
            .box.copyrights .date{
                font-size: 3vw;
            }

/* MAIN GRID */

.main-grid{
    display: grid;
    height: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-gap: 0;
    padding: .75vw 0;
}
    .main-grid:after{
        content: '';
        display: block;
        width: 1.5vw;
        position: fixed;
        background-color: #323639;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
    }
        .main-grid .box{
            padding: .75vw 1.5vw .75vw 0;
            margin: 0;
            width: 16vw;
        }
            .main-grid .box .picture{
                height: 100%;
            }
        .main-grid .box.large,
        .main-grid .box.tall,
        .main-grid .box.wide{
            width: 100%;
        }
        .main-grid .box.large{
            grid-column: span 2;
            grid-row: span 2;
        }
        .main-grid .box.tall{
            grid-row: span 2;
        }
        .main-grid .box.wide{
            grid-column: span 2;
        }

/* GALLERY */

.article-page.gallery aside{
    background-color: #323639;
}
.gallery.loading-after:after,
.article-page.loading-after:after{
    left: calc(50% + 10vw);
}
.gallery root > .wrapper{
    transition: margin-left 250ms ease-out;
    padding: 1.5vw 1.5vw 1.5vw 0;
}
    .article-page.gallery aside:before,
    .gallery .box{
        display: none;
    }
    .slider .box{
        display: block;
        margin-right: 1.5vw;
    }
    .gallery .box:before{
        content: '';
        position: absolute;
        display: block;
        opacity: 1;
        visibility: visible;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 1;
    }
    .article-page.gallery .detail{
        position: absolute;
        top: 5.5vw;
        height: calc(calc(var(--vh, 1vh) * 100) - 7vw);
        left: -25vw;
        width: 25vw;
        padding: 0 1.5vw;
    }
    .article-page.gallery .detail,
    .article-page.gallery .detail-btn{
        display: none;
    }
    .article-page.gallery.images-ready .detail,
    .article-page.gallery.images-ready .detail-btn{
        display: block;
    }
        .article-page.gallery .detail .page-title{
            font-size: 1.8vw;
            padding: 1.2vh 0 2.2vh;
            font-weight: 300;
        }
        .article-page.gallery .detail .article-tags{
            margin-top: -.7vh;
        }
        .article-page.gallery .detail .ps__rail-y{
            margin-right: calc(100% - .2vw);
        }
    .gallery .box.image:before{
        display: none;
    }
        .slider .box img{
            height: calc(calc(var(--vh, 1vh) * 100) - 3vw);
        }
        .slider .box .wrapper{
            top: 1.5vw;
            left: 1.5vw;
            bottom: auto;
            right: auto;
        }

/* DETAIL BTN */

.detail-btn{
    border: none;
    display: block;
    cursor: pointer;
    position: fixed;
    text-align: center;
    top: 1.5vw;
    left: 20vw;
    line-height: 2.6vw;
    height: 2.6vw;
    width: 5.4vw;
    z-index: 4;
    font-size: .9vw;
    color: white !important;
    background-color: rgba(0, 0, 0, .5);
}
.detail-show root > .wrapper{
    margin-left: 45vw;
}
.detail-show button.slick-arrow.slick-prev{
    left: 45vw;
}

/* ARTICLE PAGE */

.article-page root > .wrapper{
    position: relative;
    font-family: "Roboto Slab", Geometria, Arial, serif;
    text-overflow: ellipsis;
    font-weight: 300;
    font-size: .9vw;
}
.article-page aside:before{
    content: '';
    position: absolute;
    width: 1px;
    top: 0;
    bottom: 0;
    background: #4B4F52;
    right: 0;
}
    .article-page root > .wrapper *{
        line-height: 150%;
    }
    .article-page root > .wrapper h2,
    .article-page root > .wrapper h3,
    .article-page root > .wrapper .hljs,
    .article-page root > .wrapper .hljs *,
    .article-page root > .wrapper .page-title{
        line-height: 120%;
    }
    .article-page .page-title{
        margin: 0;
    }
    .container{
        padding: 1.5vw 4vw 1.5vw 1.5vw;
        width: 60vw;
    }
        .container img{
            width: 100%;
        }
        .container .article-page-picture{
            display: block;
            margin-bottom: 2.5vh;
            position: relative;
            height: 25vh;
        }
            .container .article-page-picture img{
                box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
                border-radius: 10px;
                position: absolute;
                object-fit: cover;
                display: block;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }
        .container .article-tags{
            margin-top: -.5vh;
        }
    .container.horizontal{
        transition: opacity 250ms ease-out;
        height: calc(var(--vh, 1vh) * 100);
        visibility: hidden;
        opacity: 0;
    }
    .columnizer-active .container{
        white-space: nowrap;
        text-align: justify;
        visibility: visible;
        opacity: 1;
        width: auto;
        padding: 0 1.5vw;
    }
        .columnizer-active .container .column{
            vertical-align: top;
            display: inline-block;
            position: relative;
            white-space: normal;
            padding: 1.5vw 4vw 1.5vw 0;
            width: 58.5vw;
            height: 100%;
        }
        .columnizer-active .container .column:before{
            content: '';
            display: block;
            position: absolute;
            background: #4B4F52;
            width: 1px;
            top: 1.5vw;
            bottom: 1.5vw;
            left: -2vw;
        }
        .columnizer-active .container .column:after{
            font-family: Geometria, Tahoma, Arial, serif;
            content: attr(page);
            font-weight: 700;
            font-size: 85%;
            position: absolute;
            display: block;
            bottom: 0;
            transform: translateY(-75%);
            left: 0;
            right: 5vw;
            text-align: center;
            color: #888;
        }
        .columnizer-active .container .column:first-child:before{
            display: none;
        }

/* ARROWS */

button.slick-arrow,
button.arrow{
    display: none;
    position: fixed;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    /*background-color: rgba(50,54,57,.7);*/
    background-color: #323639;
    height: 2.6vw;
    width: 2.6vw;
    border: none;
    outline: none !important;
}
button.arrow.active{
    display: block;
}
    button.slick-arrow:after,
    button.arrow:after{
        font-family: "Awesome", serif;
        font-weight: 900;
        font-size: 1vw;
    }
button.arrow.left{
    left: 21.5vw;
}
button.slick-arrow.slick-prev{
    transition: left 250ms ease-out;
    left: 20vw;
}
    button.slick-arrow.slick-prev:after,
    button.arrow.left:after{
        content: "\f060";
    }
button.slick-arrow.slick-next,
button.arrow.right{
    right: 1.5vw;
}
    button.slick-arrow.slick-next:after,
    button.arrow.right:after{
        content: "\f061";
    }

/* ARTICLES */

.article-item{
    position: relative;
    border-bottom: 1px solid #4B4F52;
    padding: 0 0 1.5vw 15.5vw;
    margin-bottom: 1.5vw;
}
    .article-item .name,
    .article-item .preview{
        padding-bottom: 1.5vh;
    }
    .article-item .name{
        text-align: left;
        font-weight: 500;
    }
        .article-item .name a{
            color: white;
        }
    .article-item .picture{
        position: absolute;
        border-radius: 3px;
        overflow: hidden;
        display: block;
        bottom: 1.5vw;
        width: 14vw;
        left: 0;
        top: 0;
    }
        .article-item .picture:after{
            content: '';
            position: absolute;
            display: block;
            opacity: 1;
            visibility: visible;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: background-color 250ms ease-out;
            background-color: rgba(0, 0, 0, .5);
            z-index: 1;
        }
        .article-item .picture img{
            object-fit: cover;
            display: block;
            height: 100%;
            width: 100%;
        }
        .article-item .picture .social{
            transform: translate(-50%, -50%);
            position: absolute;
            display: none;
            z-index: 2;
            left: 50%;
            top: 50%;
        }
        .article-item:hover .picture .social{
            display: block;
        }
    .article-item.last,
    .article-tags{
        font-family: Geometria, Tahoma, Arial, serif;
        font-style: italic;
        font-weight: 400;
        font-size: 75%;
    }
    .article-item .article-tags{
        margin: 0;
    }
    .article-item.last{
        margin-bottom: 0;
        padding-bottom: 0;
        padding-left: 0;
        border-bottom: none;
        color: #D5D9DC;
    }
    .article-tags.tags-bottom{
        display: none;
    }
        .article-tags ul{
            line-height: inherit;
            list-style: none;

            padding: 0;
            margin: 0;

            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;

            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;

            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
            .article-tags li{
                padding: .6vh 0;
                margin-right: .5vw;
            }
            .article-item .detail{
                padding: 0;
            }
                .article-item .detail a{
                    display: block;
                    padding: .3vw .35vw;
                    border: 1px solid;
                    border-radius: .3vw;
                }

@media screen and (max-width: 1025px)
{
    header .menu > ul > li{
        margin-bottom: 3vh;
    }
        header .menu > ul > li > a:after{
            height: 2px;
            bottom: -2px;
        }
        header .menu > ul > li > ul{
            margin-top: 1.7vh;
        }
            header .menu > ul > li > ul li{
                margin-bottom: 0;
            }
    .social .pegi{
        border-width: 2px;
    }

    .main-grid .box .wrapper{
        top: 1.75vw;
        bottom: 1.75vw;
        left: 1vw;
        right: 2.5vw;
    }
}

@media screen and (max-width: 767px)
{
    root:after{
        display: block;
        opacity: .75;
    }

    aside{
        width: 100%;
        left: -100%;
        padding-left: 30vw;
        background-color: #323639;
    }
    aside:after,
    header .logo{
        display: none;
    }
    .header-mobile-open aside{
        left: -30vw;
    }
        header{
            overflow: auto;
        }
            header .menu{
                margin-top: 3.5vh;
            }
                header .menu > ul > li > a{
                    font-size: 7.5vw;
                    line-height: 8.5vw;
                }
                    header .menu > ul > li > ul li{
                        margin-bottom: 1vh;
                    }
                    header .menu > ul > li > ul li.mobile-visible{
                        display: block;
                    }
                    header .menu > ul > li > ul > li a{
                        font-size: 3vw;
                    }
            header .social{
                font-size: 3vw;
            }
                header .social .pegi,
                header .social a{
                    width: 10vw;
                    height: 10vw;
                }
        .header-mobile-hamburger{
            display: block;
        }

    root > .wrapper{
        width: 100%;
        margin: 0;
        overflow: auto;
        padding-top: 27.5vw;
    }
        root > .wrapper:before{
            display: block;
        }

    .header-mobile-open root > .wrapper{
        margin-left: 70vw;
        overflow: hidden;
    }

    .mobile-home-icon{
        display: block;
    }

    /* BREADCRUMBS */

    .breadcrumbs{
        display: none;
    }

    /* BOXES */

    .main-grid .box.large,
    .main-grid .box.tall,
    .main-grid .box.wide,
    .main-grid .box,
    .box{
        width: calc(100% - 20vw);
        margin: 0 10vw 10vw;
        padding: 0;
    }
        .main-grid .box .picture,
        .box .picture{
            height: 60vw;
            border-radius: 10px;
            box-shadow: 0 2px 7px rgba(0,0,0,.3);
        }
            .box:hover .picture:after{
                background-color: rgba(0,0,0,.5);
            }
        .box.large .wrapper,
        .main-grid .box .wrapper,
        .box .wrapper{
            top: 5vw;
            bottom: 5vw;
            right: 5vw;
            left: 5vw;

            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;

            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
            .box .date{
                font-size: 3vw;
                margin-bottom: 1.5vh;
            }
            .box.copyrights .date{
                display: block;
            }
            .box.large .title,
            .box .title{
                font-size: 5vw;
                margin: 0 0 2.5vw;
                text-align: center;
                flex: inherit;
            }
            .box .social{
                position: relative;
                font-size: 3vw;
            }
                .box .social .likes,
                .box.wide .social li,
                .box.large .social li,
                .box .social li,
                .box .social a{
                    padding: 3vw 5vw;
                    border-radius: 5px;
                }
                .box .social li a{
                    padding: 3vw 5vw;
                }
                .box .social li:before,
                .box .social a:before{
                    font-size: 3vw;
                    width: 5vw;
                }
    .box.copyrights{
        display: block;
    }
        .box.copyrights .wrapper{
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
            .box.copyrights .date{
                margin: 0;
            }

    /* MAIN GRID */

    .main-grid{
        display: block;
        height: auto;
        padding: 0;
    }
        .main-grid:after{
            display: none;
        }

    /* ARTICLE PAGE */

    .article-page root > .wrapper{
        font-size: 4vw;
        border: none;
    }
    .article-page aside:before{
        display: none;
    }
        .article-page .container{
            padding: 0 10vw 10vw;
            width: 100%;
        }
        .columnizer-active .container{
            display: none;
        }
        .container.horizontal{
            height: auto;
            visibility: visible;
            opacity: 1;
        }
        .container .article-tags{
            margin: 0;
        }
        .article-page root > .wrapper:before{
            display: none;
        }

    /* ARTICLES */

    .article-item{
        width: inherit;
        padding: 0 0 3vh 0;
        margin: 0 0 4vh 0;
    }
    .article-item .picture{
        position: inherit;
        bottom: inherit;
        left: inherit;
        top: inherit;
        width: inherit;
        height: 25vh;
        margin: 0 0 2.5vh 0;
    }
        .article-item .picture .social{
            display: block;
        }
    .article-item.last{
        text-align: center;
    }
        .article-item .name,
        .article-item .preview{
            padding-bottom: 2.5vh;
        }
    .article-tags.tags-bottom{
        margin: 0 10vw 10vw;
        display: block;
    }
        .article-tags li{
            margin-right: 2.5vw;
            padding: 0 0 1.5vh 0;
        }
            .article-item .detail a{
                border-radius: 1.5vw;
                padding: 1.5vw 1.75vw;
            }

    /* GALLERY */

    .gallery root > .wrapper{
        transition: none;
        padding: 27.5vw 0 0 0;
    }
        .article-page.gallery .detail{
            position: relative;
            display: block;
            width: auto;
            height: auto;
            margin: 0 10vw;
            padding: 0;
            top: 0;
            bottom: 0;
            left: 0;
        }
            .article-page.gallery .detail .article-tags{
                margin: 0;
            }
            .article-page.gallery .detail .page-title{
                font-size: 8vw;
                line-height: 130%;
                padding-top: 0;
                font-weight: 500;
            }

        .gallery .justified-gallery.complite .box{
            display: block;
        }
        .gallery .box.large{
            box-shadow: 0 2px 7px rgba(0,0,0,.3);
            border-radius: 10px;
            margin-bottom: 10vw;
            overflow: hidden;
            display: block;
            height: 60vw;
        }
        .gallery .box.copyrights{
            border-radius: 0;
            height: auto;
        }
        .gallery .box.copyrights:before{
            display: none;
        }
            .gallery .box > img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                display: block;
            }

    /* DETAIL BTN */

    .article-page.gallery.images-ready .detail-btn{
        display: none;
    }
    .article-page.detail-show root > .wrapper{
        margin: 0;
    }

    /* ALBUMS */

    .gallery .justified-gallery{
        margin: 0 10vw;
        width: 80vw;
    }
        .justified-gallery .box{
            height: auto;
            padding: 0;
            margin: 0;
        }
}